@model IEnumerable<MyFollow1.Models.AppOwner>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.CompanyName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Description)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.DateOfJoin)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.FoundedIn)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Address)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.ContactNumber)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.WebsiteUrl)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.TwitterHandler)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.FacebookUrl)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.CompanyName)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Description)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.DateOfJoin)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.FoundedIn)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Address)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.ContactNumber)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.WebsiteUrl)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.TwitterHandler)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.FacebookUrl)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.email }) |
            @Html.ActionLink("Details", "Details", new { id=item.email }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.email })
        </td>
    </tr>
}

</table>
